*{
    margin: 0;
    padding: 0
}
ul,li{
    list-style: none
}

.mj-pages{
    border-left: 1px solid #01d5b6;
    user-select: none;

}

.mj-page{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
    border-top: 1px solid #01d5b6;
    border-bottom: 1px solid #01d5b6;
    border-right: 1px solid #01d5b6;
    text-align: center;
    cursor: pointer

}
.mj-page.active{
    background: #01d5b6;
    color: #fff;
}

.mj-page:not(.active):hover{
    color: #01d5b6;
}